.popup__content {
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 14px 7px rgba(255, 255, 255, 0.18);
    width: 450px;
    background-color: #fff;
    position: relative;
    height: 400px;

    top: -60px;
    transition: 0.7s ease-in-out;
    transform: rotateX(-70deg);
    transform-origin: 50% 3% 0px;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.884);

    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    perspective: 500px;

    &.open {
        opacity: 1;
        transition: ease 0.7s;
        visibility: visible;

        .popup__content {
            top: 0;
            transform: none;
            transition: 0.7s ease;
            transform-origin: 50% 50% 0px;
        }
    }
}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.popup__full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: unset !important;
    left: 0;
}

.popup__closes {
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.popup__body {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 50px;
}

.popup__text {
    margin-top: 50px;
}
