// // !Обычный таб===============================================================================

// // todo: Таб сверху--------------------------------------------------------------------------------------

// #tabs {
//    margin: 10px 0;

//    .tabs-nav {
//       overflow: hidden;
//       margin: 0;
//       padding: 0;
//    }
//    .tabs-nav li {
//       display: block;
//       float: left;
//       padding: 0;
//       list-style: none;
//    }
//    .tabs-nav a {
//       display: block;
//       padding: 10px 20px;
//       border-top: 1px solid #ccc;
//       border-bottom: 1px solid #ccc;
//       border-left: 1px solid #ccc;
//       background: #fbfbfb;
//       font-size: 16px;
//       text-decoration: none;
//       text-align: center;
//       color: #999;
//    }
//    .tabs-nav li:first-child a {
//       border-radius: 5px 0 0 0;
//    }
//    .tabs-nav li:last-child a {
//       display: block;
//       border-right: 1px solid #ccc;
//       border-radius: 0 5px 0 0;
//    }
//    .tabs-nav a.active {
//       border-bottom: 1px solid #fff;
//       background: #fff;
//       color: #000;
//    }
//    .tabs-items {
//       border: 1px solid #ccc;
//       border-radius: 0 5px 5px 5px;
//       background: #fff;
//       margin: -1px 0 0 0;
//    }
//    .tabs-item {
//       padding: 15px;
//    }
// }

// // todo: Таб на всю ширину сверху--------------------------------------------------------------------------------------

// #tabs {
//    margin: 10px 0;

//    .tabs-nav {
//       display: table;
//       margin: 0;
//       padding: 0;
//       width: 100%;
//    }
//    .tabs-nav li {
//       display: table-cell;
//       float: none;
//       margin: 0;
//       padding: 0;
//    }
//    .tabs-nav a {
//       display: block;
//       padding: 10px 20px;
//       border-top: 1px solid #ccc;
//       border-bottom: 1px solid #ccc;
//       border-left: 1px solid #ccc;
//       background: #fbfbfb;
//       font-size: 16px;
//       text-decoration: none;
//       text-align: center;
//       color: #999;
//    }
//    .tabs-nav li:first-child a {
//       border-radius: 5px 0 0 0;
//    }
//    .tabs-nav li:last-child a {
//       display: block;
//       border-right: 1px solid #ccc;
//       border-radius: 0 5px 0 0;
//    }
//    .tabs-nav a.active {
//       border-bottom: 1px solid #fff;
//       background: #fff;
//       color: #000;
//    }
//    .tabs-items {
//       border: 1px solid #ccc;
//       border-top: none;
//       border-radius: 0 0 5px 5px;
//       background: #fff;
//    }
//    .tabs-item {
//       padding: 15px;
//    }
// }

// // todo: Таб слева--------------------------------------------------------------------------------------

// #tabs {
//    margin: 10px 0;
//    overflow: hidden;

//    .tabs-nav {
//       width: 150px;
//       float: left;
//       overflow: hidden;
//       margin: 0;
//       padding: 0;
//       position: relative;
//    }
//    .tabs-nav:after {
//       content: "";
//       display: inline-block;
//       width: 1px;
//       height: 1px;
//       background: #ccc;
//       position: absolute;
//       top: 0px;
//       right: 0px;
//    }
//    .tabs-nav li {
//       display: block;
//       padding: 0;
//       margin: 0;
//    }
//    .tabs-nav a {
//       display: block;
//       padding: 10px 20px;
//       width: 100%;
//       box-sizing: border-box;
//       border-top: 1px solid #ccc;
//       border-right: 1px solid #ccc;
//       border-left: 1px solid #ccc;
//       background: #fbfbfb;
//       font-size: 16px;
//       text-decoration: none;
//       color: #999;
//    }
//    .tabs-nav li:first-child a {
//       border-radius: 5px 0 0 0;
//    }
//    .tabs-nav li:last-child a {
//       border-bottom: 1px solid #ccc;
//       border-radius: 0 0 0 5px;
//    }
//    .tabs-nav a.active {
//       border-right: 1px solid #fff;
//       background: #fff;
//       color: #000;
//    }
//    .tabs-items {
//       margin-left: 149px;
//       background: #fff;
//    }
//    .tabs-item {
//       padding: 15px;
//       border: 1px solid #ccc;
//       border-radius: 0 5px 5px 0;
//       min-height: 160px;
//    }
// }

// todo: Таб справа--------------------------------------------------------------------------------------

.wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.tabs {
   margin: 70px 0;
   overflow: hidden;
   width: 800px;

   .tabs-nav {
      width: 150px;
      float: right;
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: relative;
   }
   .tabs-nav:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 1px;
      background: #ccc;
      position: absolute;
      top: 0px;
      left: 0px;
   }
   .tabs-nav li {
      display: block;
      padding: 0;
      margin: 0;
   }
   .tabs-nav a {
      display: block;
      padding: 10px 20px;
      width: 100%;
      box-sizing: border-box;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      background: #fbfbfb;
      font-size: 16px;
      text-decoration: none;
      color: #999;
   }
   .tabs-nav li:first-child a {
      border-radius: 0 5px 0 0;
   }
   .tabs-nav li:last-child a {
      border-bottom: 1px solid #ccc;
      border-radius: 0 0 5px 0;
   }
   .tabs-nav a.active {
      border-left: 1px solid #fff;
      background: #fff;
      color: #000;
   }
   .tabs-items {
      margin-right: 149px;
      background: #fff;
   }
   .tabs-item {
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
      min-height: 160px;
      display: none;

      &.active {
         display: block;
      }
   }
}
// !Обычный таб===============================================================================

// ?Таб переключатель===============================================================================

.pageNav {
   width: 500px;

   &__tabList {
      display: flex;
      justify-content: space-between;
   }

   &__tabItem {
      flex-grow: 1;
      height: 40px;
      background: lightgreen;
      margin: 5px;
      cursor: pointer;

      &--active {
         background: lightblue;
      }
   }

   &__contentList {
      background: #eee;
      margin: 5px;
      padding: 20px;
   }

   &__contentItem {
      font-size: 24px;
      padding: 20px;

      &--active {
         background: lightblue;
      }
   }
}

// ?Таб переключатель===============================================================================

// !Акордион================================================================================

.acord {
   display: flex;
   flex-direction: column;
   margin-right: 50px;

   &:last-child {
      margin-right: 0px;
   }
}

.acord__item {
   padding: 20px 0px 0px 0px;
   width: 500px;
   background-color: rgb(207, 207, 207);
   overflow: hidden;
   margin-top: 30px;

   overflow: hidden;
}

.acord__top {
   padding: 0px 20px 20px 20px;
   position: relative;
   border-bottom: 1px solid #000;
   cursor: pointer;
   transition: 0.3s;

   &:after {
      content: "";
      position: absolute;
      top: 15px;
      right: 20px;
      width: 15px;
      height: 2px;
      background-color: rgb(56, 14, 14);
      transition: 0.3s;
      transform: rotate(40deg);
   }
   &:before {
      content: "";
      position: absolute;
      transition: 0.3s;
      top: 15px;
      right: 31px;
      width: 15px;
      height: 2px;
      background-color: rgb(56, 14, 14);
      transform: rotate(-40deg);
   }

   &.active__acord:before {
      transform: rotate(40deg);
   }
   &.active__acord:after {
      transform: rotate(-40deg);
   }
}

.acord__bot {
   height: 0;
   transition: height, ease-in-out 0.4s;
   font-size: 0;

   &.active__acord {
      height: 100%;
      padding: 20px;

      font-size: 15px;
   }
}

.acord__title {
   font-size: 26px;
   color: rgb(22, 22, 22);
   font-weight: 500;
}

.wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

// !Акордион================================================================================
